body{
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    & div {
            &.hwrapper{
                width: 100%;
                background-color: navajowhite;      
                margin:auto;
                // padding: 0em .25em 0em .25em;
                & div{
                    // padding:0em .25em 0em .25em;
                    &.header{
                        display: flex;
                        margin: auto;
                        padding: 0;
                    // padding: 0em .25em 0em .25em;
                    & div{
                        margin: 0;
                        &.title{
                            margin-right: auto;
                            align-content: center;
                            display: flex;
                            & h3{
                                margin-top: auto;
                                margin-bottom: auto;
                                padding-left: 0.25em;
                            }
                            & h4{
                                margin-top: auto;
                                margin-bottom: auto;
                                padding-left: 0.45em;
                            }
                        }
                    }
                    & div{
                        &.nav{
                            top: 0;
                            bottom: 0;
                            height: 100%;
                            padding-bottom: auto;
                        & nav{
                        top: 0;
                        bottom: 0;
                        height: 100%;
                        padding-bottom: auto;
                        position: relative;
                        & ul{
                            top: 0;
                        bottom: 0;
                        height: 100%;
                        
                        margin: auto;
                        padding-bottom: auto;
                        position: relative;
                        
                        // padding: .25em 0 .25em auto;
                        
                            & li{
                            width: auto;
                            // margin-left: .35em;
                            // margin-left: .35em;
                            align-content: center;
                            display: inline-block;
                            list-style: none;
                            position: relative;
                            & div{

                                padding: 0.05em 0.25em 0.05em 0.25em;
                                position: relative;

                                // &.title{
                                //     & h3{
                                //         margin: 0;
                                //         text-align: center;
                                //     }
                                    
                                // }

                                &.menu{
                                    // align-self: ;
                                    margin-top: auto;
                                    margin-bottom: auto;
                                    padding-left: .35em;
                                    padding-right: .35em;
                                    padding-bottom: auto;
                                    padding-top: auto;
                                    text-align: center;
                                    position: relative;
                                    & a{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width:100%;
                                        height: 100%;
                                        &:hover{
                                            opacity: 0.1;
                                            background-color: #000000;
                                        }
                                    }

                                }
                                
                            }
                        }

                        }
                    }
                    }
                    }
                    
                } 
                }

            }
    }

    
    & main{
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    max-width: 100%;
    min-height: 100%;
    // & h3{
    //     padding: 0.35em;
    // }

    & div{
        &.content{
            // display: flex;
            overflow: hidden;
            // width: max-content;
        }
        &.item{
            float: left;
        }

        &.tbl_div{
            overflow: scroll;
            height: 640px;
            width: max-content;
            min-width: 250px;
        }
    }

    & table{
        &.input{
            width:auto;
            margin:5px;
            & tr{
                padding: .35em;
                & td{
                    & input{
                        width: 15ch;
                    }
                }
            }
            & td:nth-of-type(1){
                width: 8ch;
                padding-left: .35em;
            }
            & td[colspan] {
                padding-top: .45em;
                padding-bottom: .35em;
            }
            & b{
                
                border-bottom: 3px solid navajowhite;
            }
        }

        &.additional-class{
            border-collapse: collapse;
            width:max-content;
            margin: 0.25em auto auto 0.25em;
            border-width: 2px;
            border-color: blue;
            padding: 0px;
            outline-width: 1px;
            table-layout: fixed;

            & tr{
                border-top: 0.5px solid gray;
                border-bottom: 0.5px solid gray;
            }

            & th{
                background-color: #ccc;
                font-size: .85em;
            }
            
            & th, td {
                border-left: 0.5px solid #ccc;
                padding: 0.25em 10px 0.25em 0.5em;
                border-right: 0.5px solid #ccc;
                width: auto;
            }

        }
    }

    & div{
        &.plot{
            background-color: #ccc;
            overflow:scroll;
            max-width: fit-content;
        }
    }







    }


}
